.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    width: 100%;
}

.grid-item {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    border: 5px black;
    border-style: double;
}

.nav {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    text-align: center;
    grid-column: 1/ span 4;
    background-color: transparent;
}

ul.nav li {
    display: inline-block;
}

ul.nav li a {
    color: white;
    display: block;
    text-align: center;
    text-decoration: underline;
    width: 200px;
    line-height: 3em;
    margin-right: 30px;
}

a {
    color: white;
}

a:visited {
    color: white;
}

ul.nav a:hover {
    background-color: rgba(116, 128, 255, 0.221);
}

.about {
    grid-column: 2/3;
    grid-row: 3/5;
}

.about-img {
    grid-column: 3/4;
    grid-row: 3/4
}

.hours {
    grid-column: 3/4;
    grid-row: 4/5;
}

.map {
    grid-column: 1/2;
    grid-row: 3/4;
}

.location-blurb {
    grid-column: 2/3;
    grid-row: 3/4;
}

.menu {
    grid-column: 2/3;
    grid-row: 3/4;
}

.menu-style {
    width: 50%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: black;
    background-color: aliceblue;
}